html {
    background-color: gray;
    /* text-align: center; */
    /*全部控件居中*/
}

img {
    max-width: 100%;
    height: auto;
    padding: 5px;
    opacity: 1;
    margin-bottom: 60px;
}

.border-img {
    border-radius: 10px;
    width: 200px;
    height: 200px;
    border: 2px solid darkcyan;
    padding: 5px;
}

button {
    color: white;
    background: red;
    border-radius: 12px;
    border: none;
    font-size: 25px;
    padding: 10px 20px 40px 30px;
}